@import url("./parallax.css");
@import url("./inputs.css");

section {
  display: flex;
  flex-direction:column;
}

#container {
  display: flex;
}

#left {
  flex-basis: 75%;
}

#right {
  flex-basis: 25%;
}

/* #activityLog {
  height: 50vh;
  overflow: hidden;
} */

#activities {
  height: 222px;
  overflow: hidden;
}

#activity {
  height: 202px;
  overflow-y: scroll;
  margin-top: 5px;
}

.activityText {
  left: 0;
  right: 0;
  text-align: left;
  color: #8a8a8a;
  font-family: "lato", sans-serif;
  font-size: 6px;
  letter-spacing: 1px;
  padding-left: 5px;
}

.pirateRaid, .facilityOffline {
  color: rgb(172, 97, 97);
}

#selectors {
  display: flex;
  flex-direction: row;
}

#details {
  display: flex;
  flex-direction: row;
}

article {
  border: solid gray 2px;
  padding: 1em;
  margin: 1em;
}

#governors, #colony {
  width: 30%;
}

#facilities, #facility {
  width: 70%;
}

span {
  display: block
}

#title {
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  padding-left: 10px;
}

.subtitle {
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 4px;
  padding-left: 10px;
}

.text {
  left: 0;
  right: 0;
  color: #FFF;
  text-align: left;
  font-family: "lato", sans-serif;
  font-weight: 100;
  font-size: .8vw;
  letter-spacing: 2px;
  padding-left: 2px;
}

.center {
  text-align: center;
  font-size: 12px;
}

#title span, .subtitle span {
  background: -webkit-linear-gradient(white, #38495a);
}

#offline {
  background: -webkit-linear-gradient(firebrick, #38495a);
}

#online {
  background: -webkit-linear-gradient(cornflowerblue, #38495a);
}

#title span, .subtitle span, #online, #offline {
  background-clip:text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  margin: 0 20px 20px
}

ul {
  margin-block-start: auto;
  margin-block-end: auto;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
}

li {
  list-style-type: none;
}

hr {
  border: 1px solid rgb(45, 46, 56);
  border-radius: 5px;
  width: 90%;
}
